body{  
  font-size: larger; 
  background-color: rgba(221, 228, 247, 0.85);
}  
.container {  
  position: relative;
  left: 30%;  
}  
  
input[type=text], input[type=password], textarea {  
  width: 37%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border-radius: 8px;
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: rgb(230, 233, 241);  
  outline: none;  
}  
 div {  
            padding: 10px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 40%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 0.7;  
} 
h1{
  text-align: center;
}
select{
  width: 200px;
  height: 30px;
}
#num{
  width: 2%;
}
#num1{
  width: 32%;
}
a{
  text-decoration: none;
 
}