.b{
    background-image: linear-gradient(to left,rgb(99, 97, 97),white);
    text-align: center;
}
#a{
    font-size: xx-large;
    font-style: italic;
    padding: 40px;
}
.a{
    border-color: transparent;
    border-width: 20px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(72, 71, 71),white);
    margin-top: 0px;
    width: 50%;
    float: left;
    padding: 40px;
}
.b{
    padding: 70px;
    border-color: transparent;
    border-width: 20px;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 40px;
    float: left;
}
.c{
    margin-top: 150px;
}
#b{
    width: 500px;
    height: 280px;
    zoom: 100%;
}
#tecbut{
    margin-top: 100px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-style: italic;
    border-color: transparent;
    background-color:rgb(255, 255, 255);
    color: black;
    font-size: medium;
}
#d{
    text-align: left;
    font-size: xx-large;
    font-style: italic;
    /* padding-left: 40px; */
}
a{
    text-decoration: none;
    color: black;
}
.z:hover .overlay{
    width: 58%;
    height: 100%;
    position: fixed;
    opacity: 1;
} 
.overlay{ 
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    opacity: 0; 
    height: 100%;
    position: fixed; 
    transition: 0.7s ease; 
    background-image: linear-gradient(to right, turquoise, rgb(141, 203, 239));
    border-radius: 10px 10px 10px 10px;
    border-color: black;
    border-width: 5px;
}
/* make scrollbar transparent */
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

/* :hover */

  .container {  
    position: relative;
      
  }  

  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  
  #in{
    width: 37%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border-radius: 8px;
    background: #f1f1f1;  
  }
  .registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 40%;  
    opacity: 0.9;  
  }  
  .registerbtn:hover {  
    opacity: 0.7;  
  } 
  .hed{
    text-align: center;
  }
  select{
    width: 200px;
    height: 30px;
  }
  .num{
    width: 1%;
  }
  .num1{
    width: 32%;
  }
  a{
    text-decoration: none;
  }
  #le{
    position: relative;
    left: -17%;
  }